.PaperDiv {
  display: flex;
  flex-direction: row;
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  justify-content: space-around;
  padding: 20px 5px;
}

@media only screen and (max-width: 1024px) {
  .PaperDiv {
    width: 430px;
  }
}

/* Mobile */
@media screen and (max-width: 479px) {
  .PaperDiv {
    width: 330px;
  }
}
