.BookListImage {
  height: 141px;
  width: 93px;
}

.BookListDiv {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: left;
    position: relative;
}


/* Mobile */
@media screen and (max-width: 479px) {
    .BookListImage {
      height: 100px;
      width: 66px;
    }
  }
  